body {
    font-family: 'Merriweather', serif;
    width: 1600px;
}



.image {
    width: 1320px;
    margin: 50px 140px 0px 140px;
}

h3 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding: 187px 640px 0px 640px;
    position: absolute;
    width: 260px;

}

.bannerh1 {
    width: 630px;
    color: white;
    font-size: 72px;
    font-weight: 900;
    padding: 235px 530px 0px 480px;
    position: absolute;
    text-align: center;
}

.header {
    background-color: white;
    width: 1600px;
}

img {

    width: 802px;
}

/* main section styles */

.main-section1 {
    width: 1600px;
    text-align: center;
}

.offer {
    color: #F00;
    font-size: 70px;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 0px;
}

.main-section-description {
    color: #F00;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main-section-photo2 {
    /* height: 450px; */
    width: 1320px;
    /* padding: 0px 259px; */
    margin: 50px 140px 0px 140px;
}

.welcome {
    color: white;
    font-weight: 900;
    padding: 110px 690px 0px 265px;
    position: absolute;
    width: 700px;
    height: 150px;
    font-size: 70px;
    margin-bottom: 0px;
    line-height: 90px;

}

.welcome-to-description {
    color: white;
    padding: 355px 690px 0px 265px;
    position: absolute;
    width: 695px;
    font-size: 25px;
    font-weight: 400px;
    line-height: 35px;
    margin-top: 24px;
}

/* .btn {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 5px;
    margin-top: 600px;
    background-color: white;
    display: inline;
} */
.new-section {
    width: 1320px;
    height: 480px;
    background-color: rgb(242, 221, 221);
    margin: 120px 140px 0px 140px;
    border-radius: 16px;

}

#content {
    text-align: center;
    font-size: 30px;
    position: absolute;
    margin: 100px 385px 210px 390px;

}

.span {
    color: red;
    font-weight: 600px;
}

.btn2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F00;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    margin-top: 30px;

}

#new-section2 {
    width: 1600px;
    height: 480px;
    background-color: gray;
    margin-top: 50px;
    /* margin: 100px 385px 210px 390px; */
}

.sub-section-column2 {
    font-size: 60PX;
    color: #F00;
}

.phoo {
    width: 364px;
    height: 364px;
    margin-top: 65px;
    margin-right: 600px;
}

.pho {
    width: 140px;
    height: 140px;
}

.section-container {
    display: flex;
    justify-content: space-between;
}

.sub-section-column1 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.sub-section-column2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.sub-section-column1-description{
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400px;
line-height: 32px;
width: 390px;
}

.section-column3{
    position: top right;
    color: #F00;
}